---
import Meta from "./Meta.astro";
import type { Config, Frontmatter } from "../types";

interface Props {
	frontmatter?: Frontmatter
	config?: Config
}
const { frontmatter, config } = Astro.props;

function or<T>(item: T | undefined | null, or: T): T
{ if (item == null) { return or } else { return item } }

const favicon = or(config?.favicon, "/favicon.svg");
let favicon_type = "";
if (config != null && config.favicon != null) {
	switch ( config.favicon.replace(/.*\./, '') )
	{
		case 'ico': favicon_type = "image/ico"; break;
		case 'png': favicon_type = "image/png"; break;
		case 'svg': favicon_type = "image/svg+xml"; break;
		default: throw `Unknown file type / media type for favicon ${favicon}`;
	}
}
---

<head>
	{/* Boring default stuff */}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="generator" content={Astro.generator} />

	{/* Sitewide config things that change */}
	<link rel="icon" type={favicon_type} href={favicon} />
	<Meta property="og:site_name" content={config?.baseSiteName} />
	{config?.webManifest && <link rel="manifest" href={config.webManifest} /> }
	
	{/* Share card info */}
	{/* https://ogp.me/ */}
	<meta property="og:image" content=""> {/* This can be for a whole site, but also page specific */}
	<meta property="og:image:type" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
	<meta property="og:image:alt" content="">
	
	<meta property="og:url" content=""> {/* The Page’s Permenant URL */}
	<meta property="og:title" content=""> {/* Share card title */}
	<meta property="og:type" content="">
	<meta property="og:locale" content="">
	<meta property="og:description" content=""> {/* One or two sentence description of the page */}

	{/* Page specific things */}
	<title>{or(frontmatter?.title, "Astro Site")}</title>
	<Meta name="author" content={frontmatter?.author} />
	<Meta name="description" content={frontmatter?.summary} />
</head>

