---
import Meta from "./Meta.astro";
import type { Config, Frontmatter } from "../types";

interface Props {
	frontmatter?: Frontmatter
	config?: Config
}
const { frontmatter, config } = Astro.props;

function or<T>(item: T | undefined | null, or: T, third_option?: T): T
{ if ( item != null ) { return item }
  if ( or != null ) { return or }
  return third_option as T;
}

const favicon = or(config?.favicon, "/favicon.svg");
let favicon_type = "";
if (config != null && config.favicon != null) {
	switch ( config.favicon.replace(/.*\./, '') )
	{
		case 'ico': favicon_type = "image/ico"; break;
		case 'png': favicon_type = "image/png"; break;
		case 'svg': favicon_type = "image/svg+xml"; break;
		default: throw `Unknown file type / media type for favicon ${favicon}`;
	}
}
---

<head>
	{/* Boring default stuff */}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="generator" content={Astro.generator} />

	{/* Sitewide config things that change */}
	<link rel="icon" type={favicon_type} href={favicon} />
	<Meta property="og:site_name" content={config?.baseSiteName} />
	{config?.webManifest && <link rel="manifest" href={config.webManifest} /> }
	
	{/* Share card info */}
	{/* https://ogp.me/ */}
	<meta property="og:image" content=""> {/* This can be for a whole site, but also page specific */}
	<meta property="og:image:type" content="">
	<meta property="og:image:width" content="">
	<meta property="og:image:height" content="">
	<meta property="og:image:alt" content="">

	{/* The Page’s Permenant URL */}
	<meta property="og:url" content={frontmatter?.permenant_url}>
	{ frontmatter?.permenant_url != null && <link rel="canonical" href={frontmatter?.permenant_url}> }

	{/* This specific pages title */}
	<meta property="og:title" content={frontmatter?.title}> {/* Share card title */}
	<title>{or(frontmatter?.title, config!.baseSiteName!, "Astro Site")}</title>

	<Meta property="og:type" content={frontmatter?.contentType}>
	{/* TODO: More og:type friends https://ogp.me/#types
    article:published_time - datetime - When the article was first published.
    article:modified_time - datetime - When the article was last changed.
    article:expiration_time - datetime - When the article is out of date after.
    article:author - profile array - Writers of the article.
    article:section - string - A high-level section name. E.g. Technology
    article:tag - string array - Tag words associated with this article.
	*/}

	<meta property="og:locale" content="">
	<meta property="og:description" content={frontmatter?.summary}> {/* One or two sentence description of the page */}
	<Meta name="description" content={frontmatter?.summary} />

	{/* Page specific things */}
	<Meta name="author" content={frontmatter?.author} />
	<Meta name="article:author" content={frontmatter?.author} />
</head>

