---
import DefaultHeader from "../components/Header.astro";
import DefaultFooter from "../components/Footer.astro";
import Head from "../components/Head.astro";

import {type Frontmatter, type Config} from "../types";

interface Props {
	frontmatter: Frontmatter,
	config: Config,
	main_classes?: string,
	header_classes?: string,
	footer_classes?: string
}
const props = Astro.props;
---
<html lang="en">
	<Head frontmatter={props.frontmatter} config={props.config} />
	
	<body>
		<header class={props.header_classes}><slot name="header"><DefaultHeader /></slot></header>
		<main class={props.main_classes}><slot /></main>
		<footer class={props.footer_classes}><slot name="footer"><DefaultFooter /></slot></footer>
	</body>
</html>
